/*
Theme Name: GrandTour Child
Theme URI: http://themes.themegoods2.com/grandtour/demo
Description: Premium Tour Travel Theme
Version: 1.0
Author: ThemeGoods
Author URI: http://themeforest.net/user/ThemeGoods
License: GNU General Public License
License URI: http://themeforest.net/licenses/regular_extended
Text Domain: grandtour
Template: grandtour
*/

/* Loading div */
#loadingDiv {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.3;
    background-color: #000;
    z-index: 99;
    text-align: center;
 }
 
 .loader {
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 100;
 }

 .lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 92px;
    height: 92px;
    margin: 1px;
    border-radius: 50%;
    border: 10px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .loder {
    border: 2px solid transparent;
    border-top:2px solid #fff;
    border-bottom: 2px solid #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* template fixes */

#wpadminbar #wp-admin-bar-search .ab-item {
    display:none;
}

.tour_attribute_rating  {
    max-width: 100% !important;
}

#tour_search_form {
  margin-left: calc(50% - 400px);
  width: 800px;
}

@media only screen and (max-width: 600px) {
    #tour_search_form {
        margin-left: 0px;
        width: 100%;
      }
      .searchtxt {
          display: none;
      }
  }

.full_width {
    width: 100%;
}
.classic .portfolio_type, .grid .portfolio_type {
    transform:translateY(0);
}

.searchtxt {
    width: 100%;
    text-align: center;
    z-index: 3;
    position: relative;
}

#tour_search_form, .tour_search_form {
    padding: 0 !important;
    border: 0px !important;
    
}

.one_fourth {
    margin-bottom: 0;
}

#tour_search_form .one_fourth:not(.last):hover {
    border-color: #dce0e0;
}

#tour_search_form .one_fourth:not(.last), .tour_search_form .one_fourth:not(.last){
    border: 0px !important;
}

#tour_search_form input[type=text]:focus {
    background-color: #fff;
}

.autocomplete {
    border: 0px;
    right:0;
    box-shadow: 0px 10px 20px -2px rgba(0, 0, 0, 0.15) !important;
    -webkit-box-shadow: 0px 10px 20px -2px rgba(0, 0, 0, 0.15) !important;
}
.autocomplete ul {
box-shadow: none  !important;
padding-top:10px;
}

.searchtxt h1{
    color: #fff;
    padding: 20px;
    text-shadow: #000 1px 0 10px;
}

.seperator {
    height: 1px;
    border-bottom: 1px dashed #ccc;
}

.keyword {
    width: 100%;
}

.help {
    position: relative;
    background-color: #dedede;
    float:left;
    width: 100%;
    margin-bottom: -20px;
    margin-top: 20px;
}
#autocomplete a{
    color: #000; 
}

.quote {
    color: #fff;
}
.logo_wrapper img {
    width: 300px;
    height: auto;
}

.btn_wrapper {
    width:100%;
    text-align: center;
}

.collappsed {
    margin-top: -60px;
}

@media only screen and (max-width: 767px)
.logo_container {
    top: 0 !important;
}

.tour_link {
    display: block;
    height: 3.8em;
    overflow: hidden;
}

.tour_link:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 1.8em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.portfolio_info_content h3 {
    text-shadow: #000 1px 0 10px;
}

#page_content_wrapper .inner .page_content_wrapper #autocomplete ul {
    margin-left: 0px;
}

.form-control {
    width: 100%;
}

table {
    width: 100%;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
}

table tr th,
table tr td {
    padding: 10px;
}

#proceed_payment {
    float: right;
}

.billing-details {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40%;
    padding: 20px;
    margin: 20px 0 20px 0;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
}

.tour_product_variable_title {
    width: 50%;
}

.single_tour_view_desc {
    width: calc(100% - 70px) !important;
}

.input-text {
    width: 100%
}

.details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0 20px 0;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
}
  
  @media screen and (min-width: 800px) {
    .wrapper {
        height: auto; overflow: hidden;
     }
     #one { width: 400px; float: left; padding-right: 60px;}
     #two { margin-left: 400px; }
  }

select {
    width: 100%;
}

.departure {
    display:block;
    list-style-type: none;
}

.departure input{
    width: 20px;
    height: 20px;
}

.departure li {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    padding: 10px;
}

.disabled {
  opacity: 0.65; 
  cursor: not-allowed !important;
}

.error {
    color: #FF4A52;
}

.valid {
    color: #1abc9c;
}

.radio {
    width: 40px;
    height: 70px;
    float:left;
    display: flex;
    align-items: center;
}

.text-container {
    display: inline-block;
    position: relative;
    width: 100%
  }

.inline {
    position: absolute;
    top: 33px;
    right: 20px;
    transition: right 0.2s;
  }

.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar input[type="radio"] ~ * { 
    padding: 4px;
}

.radio-toolbar input[type="radio"]:checked ~ * { 
    background:#1abc9c !important;
    border-radius: 4px;
    color: #fff;
}

.radio-toolbar input[type="radio"]:hover ~ * { 
    background:#dce0e0 !important;
    border-radius: 4px;
}

/* Calendar style */

.calendar-wrapper {
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.month ul {
    list-style-type: none;
}

/* Month header */
.month {
    padding: 20px;
    width: calc(100% - 40px);
    background: #1abc9c;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
}

/* Next button */
.month .next {
    float: right;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
    font-size: 10px;
}

.weekdays li {
    display: inline-block;
    width: 12.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 2px 4px 6px 4px;
    background: #1abc9c;
    color: white !important;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    display: inline-block;
}

/* Highlight the "available" day */
.days li .available {
    padding: 2px 4px 6px 4px;
    background-color: #ddd;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    display: inline-block;
}

/* Highlight the "selected" day */
.days li .selected {
    margin: -2px;
    border: 2px solid #FF4A52;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: inline-block;
    border-radius: 50%;
}

.hidden {
    opacity: 0;
    display:none;
}

.count {
    color: #FF4A52;
}

.form_wrapper {
    padding: 30px;
}

.intl-tel-input { 
    width: 100%; 
}

.hide {
    display: none;
}

.validation {
    margin: 5px;
    padding-top:10px;
    font-family: inherit;
}

/* Tooltip */

.days li .selected:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .08);
}

[tooltip] {

    position: relative;
    display: inline-block;
}

[tooltip]::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
    z-index: 99;
    opacity: 0;
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left: 50%;
    top: -6px;
    transform: translateX(-50%) translateY(-100%);
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: #fff;
    padding: 4px 2px;
    font-size: 12px;
    min-width: 60px;
    border-radius: 5px;
    pointer-events: none;
    padding: 4px 4px;
    z-index: 99;
    opacity: 0;
}

[tooltip]:hover::after,
[tooltip]:hover::before {
    opacity: 1
}

/* Destinations */

.tags{
    padding: 40% 15% 0 15%;
    text-align: center;
    margin-top: 90px;
}

.tags_wrapper {
    max-width: 1425px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 0 90px;
}

.tagbox {
    border-radius: 5px;
    display: inline-block;
    margin: 6px;
    background-color: #1EC6B6;
}

.tagbox:hover {
    transform: translateY(-3px);
    transition-duration: 0.2s;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(187, 136, 136, 0.08);
}

.linkdiv {
    padding: 6px;
}
.linkdiv h5 {
    color: #fff; 
    margin: 0 6px 0 6px
}

/* Themify Icons */

.ti-plus:before {
    color: #ddd
}

.ti-check:before{
    color: #1abc9c
}

.ti-close:before {
    color: #FF4A52;
}

/* Tour details */
.sidebar-box {
    max-height: 150px;
    position: relative;
    overflow: hidden;
  }
  .sidebar-box .read-more { 
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    text-align: center; 
    margin: 0; 
    height: 125px;
      
    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, #fff);
  }
  .sidebar-box .read-more a{
    position: absolute; 
    bottom: 0; 
  }

  /* Accordion */

  .accordion-main {
      border-radius: 5px;
  }

  /* Ratings */
  .glsr-default .glsr-summary-stars .glsr-star {
      width: 15px !important;
      height: 15px !important;
      background-size: 15px !important;
      padding-right: 3px;
  }

  .glsr-review {
      border: 1px solid #dedede;
      border-radius: 5px;
      /* box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(187, 136, 136, 0.08); */
      padding: 10px;
      margin-bottom: 15px !important;
  } 
  .glsr-review-title{
      display: none !important;
  }

  .glsr-form-wrap {
    border: 1px solid #dedede;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(187, 136, 136, 0.08);
    padding: 20px;
  }

  .single_tour_departure_content .glsr-summary-wrap {
    border: 1px solid #dedede;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(187, 136, 136, 0.08);
    padding: 20px;
  }

  .glsr-has-success {
      padding: 20px;
      margin-bottom: 20px;
      background-color: #1abc9c;
      border-radius: 5px;
      width: 90%;
      color: #fff;
  }

  .showall {
      position: relative;
      width:100%;
      box-sizing:border-box;
  }
/* Slider */

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: 620px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

#page_caption{
    overflow: hidden;
    background-color: #1abc9c !important;
}

#page_caption h1 {
    color: #fff !important;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prevslide, .nextslide {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.nextslide {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevslide:hover, .nextslide:hover {
  background-color: rgba(0, 0, 0, 0.479);
  color: white;

}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dots {
    text-align:center;
    position: absolute;
    bottom: 20px;
    left: 47%
}

.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: rgb(114, 114, 114);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #fff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1}
}

.payment-details {
    width: 50%;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}

.cards {
    height: 25px !important;
    float: right  !important;:
}

.preview {
    width: 75%;
    border-radius: 5px;
    float: right;
    margin-top: 40px;
}

  /* -------------------------------- 
  
  Basic Style for progress bar
  
  -------------------------------- */
  .cd-breadcrumb, .cd-multi-steps {
    width: 90%;
    max-width: 1400px;
    padding: 0.5em 1em;
    margin: 1em auto;
    background-color: #fff;
    border-radius: .25em;
  }
  .cd-breadcrumb:after, .cd-multi-steps:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-breadcrumb li, .cd-multi-steps li {
    display: inline-block;
    float: left;
    margin: 0.5em 0;
    color: #fff;
    font-size: 33px;
  }
  .cd-breadcrumb li::after, .cd-multi-steps li::after {
    /* this is the separator between items */
    display: inline-block;
    content: '\00bb';
    margin: 0 .6em;
    color: #fff;
  }
  .cd-breadcrumb li:last-of-type::after, .cd-multi-steps li:last-of-type::after {
    /* hide separator after the last item */
    display: none;
  }
  .cd-breadcrumb li > *, .cd-multi-steps li > * {
    /* single step */
    display: inline-block;
    font-size: 1.4rem;
    color: #1abc9c ;
  }
  /* -------------------------------- 
  
  Multi steps indicator 
  
  -------------------------------- */
  @media only screen and (min-width: 768px) {
    .cd-multi-steps {
      /* reset style */
      background-color: transparent;
      padding: 0;
      text-align: center;
    }
  
    .cd-multi-steps li {
      position: relative;
      float: none;
      margin: 0.4em 40px 0.4em 0;
    }
    .cd-multi-steps li:last-of-type {
      margin-right: 0;
    }
    .cd-multi-steps li::after {
      /* this is the line connecting 2 adjacent items */
      position: absolute;
      content: '';
      height: 4px;
      background: #edeff0;
      /* reset style */
      margin: 0;
    }
    .cd-multi-steps li.visited::after {
      background-color: #000;
    }
    .cd-multi-steps li > *, .cd-multi-steps li.current > * {
      position: relative;
      color: #fff;
    }
  
    .cd-multi-steps.custom-separator li::after {
      /* reset style */
      height: 4px;
      background: #fff;
    }
  
    .cd-multi-steps.text-center li::after {
      width: 100%;
      top: 50%;
      left: 100%;
      -webkit-transform: translateY(-50%) translateX(-1px);
      -moz-transform: translateY(-50%) translateX(-1px);
      -ms-transform: translateY(-50%) translateX(-1px);
      -o-transform: translateY(-50%) translateX(-1px);
      transform: translateY(-50%) translateX(-1px);
    }
    .cd-multi-steps.text-center li > * {
      z-index: 1;
      padding: .6em 1em;
      border-radius: .25em;
      background-color: #fff;
    }
    .no-touch .cd-multi-steps.text-center a:hover {
      background-color: #2c3f4c;
    }
    .cd-multi-steps.text-center li.current > *, .cd-multi-steps.text-center li.visited > * {
      color: #ffffff;
      background-color: #000;
    }
    .cd-multi-steps.text-center.custom-icons li.visited a::before {
      /* change the custom icon for the visited item - check icon */
      background-position: 0 -60px;
    }
  
    .cd-multi-steps.text-top li, .cd-multi-steps.text-bottom li {
      width: 280px;
      text-align: center;
    }
    .cd-multi-steps.text-top li::after, .cd-multi-steps.text-bottom li::after {
      /* this is the line connecting 2 adjacent items */
      position: absolute;
      left: 50%;
      /* 40px is the <li> right margin value */
      width: calc(100% + 40px);
    }
    .cd-multi-steps.text-top li > *::before, .cd-multi-steps.text-bottom li > *::before {
      /* this is the spot indicator */
      content: '';
      position: absolute;
      z-index: 1;
      left: 50%;
      right: auto;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: #edeff0;
    }
    .cd-multi-steps.text-top li.visited > *::before,
    .cd-multi-steps.text-top li.current > *::before, .cd-multi-steps.text-bottom li.visited > *::before,
    .cd-multi-steps.text-bottom li.current > *::before {
      background-color: #000;
    }
    .no-touch .cd-multi-steps.text-top a:hover, .no-touch .cd-multi-steps.text-bottom a:hover {
      color: #000;
    }
    .no-touch .cd-multi-steps.text-top a:hover::before, .no-touch .cd-multi-steps.text-bottom a:hover::before {
      box-shadow: 0 0 0 3px rgba(150, 192, 61, 0.3);
    }
  
    .cd-multi-steps.text-top li::after {
      /* this is the line connecting 2 adjacent items */
      bottom: 4px;
    }
    .cd-multi-steps.text-top li > * {
      padding-bottom: 20px;
    }
    .cd-multi-steps.text-top li > *::before {
      /* this is the spot indicator */
      bottom: 0;
    }
  
    .cd-multi-steps.text-bottom li::after {
      /* this is the line connecting 2 adjacent items */
      top: 3px;
    }
    .cd-multi-steps.text-bottom li > * {
      padding-top: 20px;
    }
    .cd-multi-steps.text-bottom li > *::before {
      /* this is the spot indicator */
      top: 0;
    }
  }
  /* -------------------------------- 
  
  Add a counter to the multi-steps indicator 
  
  -------------------------------- */
  .cd-multi-steps.count li {
    counter-increment: steps;
  }
  
  .cd-multi-steps.count li > *::before {
    content: counter(steps) " - ";
  }
  
  @media only screen and (min-width: 768px) {
    .cd-multi-steps.text-top.count li > *::before,
    .cd-multi-steps.text-bottom.count li > *::before {
      /* this is the spot indicator */
      content: counter(steps);
      height: 26px;
      width: 26px;
      line-height: 26px;
      font-size: 1.4rem;
      color: #1abc9c ;
    }
  
    .cd-multi-steps.text-top.count li:not(.current) em::before,
    .cd-multi-steps.text-bottom.count li:not(.current) em::before {
      /* steps not visited yet - counter color */
      color: #2c3f4c;
    }
  
    .cd-multi-steps.text-top.count li::after {
      bottom: 11px;
    }
  
    .cd-multi-steps.text-top.count li > * {
      padding-bottom: 34px;
    }
  
    .cd-multi-steps.text-bottom.count li::after {
      top: 11px;
    }
  
    .cd-multi-steps.text-bottom.count li > * {
      padding-top: 34px;
    }
  }
  